<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <script>search("https://www.google.com")</script>
    </body>
    <script src="gameOpener.js"></script>
    <script src="./h/uv.bundle.js"></script>
    <script src="./h/uv.config.js"></script>
</html>