@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  background-color: black;
}

body {
  position: absolute;
  font-family: "varela round", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #1F1F23;
  color: #16B7D4;
  margin: 0%;
}

.holder {
  position: absolute;
  background-color: #1F1F23;
  color: #000000;
  width: 100vw;
  height: 40px;
  align-items: center;
  top: 0%;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
}

.tab {
  color: #16B7D4;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 38px;
  width: 200px;
  user-select: none;
  border: 2px solid #1F1F23;
  border-width: 2px 2px 0px 2px;
  transition: 0.5s;
  background-color: #1F1F23;
}

.frame {
  position: fixed;
  height: 96vh;
  width: 100vw;
  top: 40px;
  left: 0px;
  background-color: #17171A;
  display: block;
  background: black;
  border: 2px solid #16B7D4;
  border-width: 2px 0px 0px 0px;
}

.text {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  left: 10%;
}

#newTab {
  position: relative;
  margin-left: 10px;
  transition: 0.5s;
}

#newTab:hover {
  transform: scale(1.2);
}

.selected {
  border-color: #16B7D4;
  box-shadow: 0px 0px 10px #17171A;
  background-color: #131415;
}

.fa-x {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: 0.5s;
  background-color: transparent;
}

.fa-x:hover {
  transform: translateY(-50%) scale(1.2);
}

.close:hover {
  background-color: #FFFFFF20;
}

.newTabText {
  position: relative;
  margin: 0;
  font-family: "varela round", sans-serif;
  top: 0;
  width: fit-content;
  left: 50%;
  top: -12.5%;
  transform: translate(-50%);
}

.closeText {
  position: relative;
  margin: 0;
  font-family: "varela round", sans-serif;
  left: 25%;
}

.Name {
  position: fixed;
  top: 0%;
  right: 1%;
  margin: 0;
}