@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Oxygen+Mono&family=Quicksand:wght@700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body,html {
  text-align: center;
  background-color: black;
}

#container {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}

button {
  background-color: lightgrey;
  border: 1px solid white;
  user-select: none;
}

.title {
  margin: 0px;
  user-select: none;
}

h1 {
  font-style: bold;
  font-size: 100px;
  font-family: 'Lexend', sans-serif;
  color: white;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-bottom: 0px;
  user-select: none;
}

.grid {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 20px;
  gap:5px;
}

.adsbygoogle {
  flex-basis:100%;
}

.grid-item {
  border-radius: 5px;
  height: 100px;
  font-size: 25px;
  font-family: 'Lexend', sans-serif;
  font-style: bold;
  transition: 0.5s;
  flex: 45%;
}

.grid-item:hover {
  border-radius: 2px;
  background-color: white;
}

.grid-item:first-child, .grid-item:nth-child(2) {
  flex-basis:100%;
}

.adsbygoogle {
  flex-basis: 100%;
}


::-webkit-scrollbar {
  display: none;
}

#login-button {
  position: fixed;
  display: flex;
  width: 100px;
  height: 25px;
  top: 2%;
  right: 1%;
  font-family: 'Lexend', sans-serif;
  color: white;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: hover 0.5s;
  user-select: none;
}

#login-button:hover {
  background-color: #FFFFFF80;
}

#login-button:active {
  background-color: #FFFFFFA0;
}

#login-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 60vh;
  background-color: white;
  z-index: 20;
}